PORT=3000
NODE_ENV=development
DATABASE_URL='postgres://client-registration-service:client-registration-service@postgres:5432/client-registration-service'
SENTRY_DSN=
NEW_RELIC_LICENSE_KEY=
NEW_RELIC_ENABLED=false
NEW_RELIC_APP_NAME=
LOG_LEVEL=info
BIND_PORT=3000
BIND_DB_PORT=5432
NPMRC_CONTENT=
